

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}


.nav {
    width: 100%;
    padding: 20px 0;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
    position: sticky;
    top: 0;
    z-index: 999;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav__img{
    width: 140px;
    cursor: pointer;
}


.nav__list{
    display: flex;
    align-items: center;
    gap: 35px;
    list-style: none;
    position: relative;
}

.nav__link{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #666363;
    position: relative;
    transition: 0.3s ease;
}


.nav__link:hover{
    color: #2C2C2C;
}

.nav__link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #2C2C2C;
    left: 0;
    bottom: -4px;
    transition: .3s ease;
}

.nav__link:hover::after {
    width: 100%;
}


.nav-hover-bg {
    position: absolute;
    width: 0;
    height: 30px;
    background: rgba(76,124,255,0.12);
    border-radius: 6px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    transition: .3s ease;
}

.bars{
    display: none;
    cursor: pointer;
}

.bar{
    width: 28px;
    height: 3px;
    background: #333;
    margin: 5px 0;
    transition: 0.3s;
}

.nav__btn {
  text-align: center;
  display: inline-block;
  padding: 15px 40px;
  border: 1px solid #fff;
  cursor: pointer;
  letter-spacing: 2px;
  position:relative;
  overflow:hidden;
  margin: 0 20px;
  background-color: #46A358;
  color: #ffffff;
  border-radius: 13px;
}

.nav__btn:before {
  content: "";
  position: absolute;
  height: 150px;
  width: 50px;
  background : #fff;
  left: -55px;
  top: -40px;
  transform: rotate(37deg);
  transition: all .5s;
  opacity: 0.3;
}

.nav__btn:hover:before {
  left:95%;
}


@media (max-width: 768px){
    .nav__list{
        position: absolute;
        top: 80px;
        right: 0;
        background: #ffffff;
        width: 250px;
        flex-direction: column;
        padding: 20px;
        gap: 20px;
        box-shadow: 0 5px 20px rgba(0,0,0,0.1);
        transform: translateX(120%);
        transition: .4s ease;
    }

    .nav__list.active{
        transform: translateX(0);
    }

    .bars{
        display: block;
    }

    .nav-hover-bg{
        display: none;
    }
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list {
    list-style: none;
    margin: 50px;
    padding: 0;
}

.header-box {
    max-width: 570px;
}

.header-title1 {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.header-title {
    font-size: 50px;
    font-weight: 800;
    line-height: 55px;
    margin-bottom: 20px;
}

.green-text {
    color: #46A358;
}

.header-text {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 25px;
    color: #555;
}

.header-btn {
    padding: 15px 40px;
    border: none;
    cursor: pointer;
    background-color: #46A358;
    color: #fff;
    border-radius: 13px;
    position: relative;
    overflow: hidden;
}

.header-btn:before {
    content: "";
    position: absolute;
    height: 150px;
    width: 50px;
    background: #fff;
    left: -55px;
    top: -40px;
    transform: rotate(37deg);
    transition: all .5s;
    opacity: 0.3;
}

.header-btn:hover:before {
    left: 95%;
}

.header-image-box {
    position: relative;
}

.header-img {
    max-width: 500px; 
}

.header-img1 {
    position: absolute;
    bottom: 0;
    left: 39px; 
    max-width: 135px;
    top: 330px;
}

.product-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    padding: 20px 0;
}

.card {
    width: 260px;
}

.card-img-box {
    position: relative;
    background: #F8F8F8;
    border-radius: 10px;
    padding: 20px;
    height: 260px;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.sale {
    position: absolute;
    left: 10px;
    top: 10px;
    background: #46A358;
    color: #fff;
    padding: 4px 10px;
    font-size: 12px;
    border-radius: 4px;
}

.card-icons {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
    opacity: 0;
    transition: 0.3s;
}

.icon {
    background: white;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
}

.card-img-box:hover .card-icons {
    opacity: 1;
}

.card-title {
    margin: 10px 0 5px;
    font-size: 16px;
    color: #333;
}

.card-price {
    font-weight: bold;
}

.card-price .new {
    color: #46A358;
}

.card-price .old {
    color: #999;
    text-decoration: line-through;
    margin-left: 8px;
}




.shop-layout {
    display: flex;
    gap: 40px;
}

/* LEFT FILTER BOX */
.filter-box {
    width: 250px;
}

.filter-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.filter-list {
    list-style: none;
    padding: 0;
}

.filter-list li {
    padding: 6px 0;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.filter-list li:hover {
    color: #46A358;
}

.price-range input {
    width: 100%;
    margin: 10px 0;
}

.price-value {
    font-size: 14px;
    margin: 5px 0 10px;
    color: #46A358;
}

.filter-btn {
    background: #46A358;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
}


.filter-banner {
    margin-top: 25px;
}

.filter-img {
    width: 100%;
    border-radius: 10px;
}














/* -------------------------------------------------------------- */


