

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}


.nav {
    width: 100%;
    padding: 20px 0;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
    position: sticky;
    top: 0;
    z-index: 999;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav__img{
    width: 140px;
    cursor: pointer;
}


.nav__list{
    display: flex;
    align-items: center;
    gap: 35px;
    list-style: none;
    position: relative;
}

.nav__link{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #666363;
    position: relative;
    transition: 0.3s ease;
}


.nav__link:hover{
    color: #2C2C2C;
}

.nav__link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #2C2C2C;
    left: 0;
    bottom: -4px;
    transition: .3s ease;
}

.nav__link:hover::after {
    width: 100%;
}


.nav-hover-bg {
    position: absolute;
    width: 0;
    height: 30px;
    background: rgba(76,124,255,0.12);
    border-radius: 6px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    transition: .3s ease;
}

.bars{
    display: none;
    cursor: pointer;
}

.bar{
    width: 28px;
    height: 3px;
    background: #333;
    margin: 5px 0;
    transition: 0.3s;
}

.nav__btn {
  text-align: center;
  display: inline-block;
  padding: 15px 40px;
  border: 1px solid #fff;
  cursor: pointer;
  letter-spacing: 2px;
  position:relative;
  overflow:hidden;
  margin: 0 20px;
  background-color: #46A358;
  color: #ffffff;
  border-radius: 13px;
}

.nav__btn:before {
  content: "";
  position: absolute;
  height: 150px;
  width: 50px;
  background : #fff;
  left: -55px;
  top: -40px;
  transform: rotate(37deg);
  transition: all .5s;
  opacity: 0.3;
}

.nav__btn:hover:before {
  left:95%;
}


@media (max-width: 768px){
    .nav__list{
        position: absolute;
        top: 80px;
        right: 0;
        background: #ffffff;
        width: 250px;
        flex-direction: column;
        padding: 20px;
        gap: 20px;
        box-shadow: 0 5px 20px rgba(0,0,0,0.1);
        transform: translateX(120%);
        transition: .4s ease;
    }

    .nav__list.active{
        transform: translateX(0);
    }

    .bars{
        display: block;
    }

    .nav-hover-bg{
        display: none;
    }
}












/* --------------------------------------------------------------------- */







.product-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 35px;
    padding: 20px 0;
}






.link-box {
display: flex;
flex-wrap: wrap;
gap: 20px;
justify-content: space-between; 
padding: 20px 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.link-box .link {
background-color: #fff;
border-radius: 12px;
box-shadow: 0 4px 10px rgba(0,0,0,0.1);
overflow: hidden;
width: 250px; 
transition: transform 0.3s, box-shadow 0.3s;
}

.link-box .link:hover {
transform: translateY(-5px);
box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}
.link-title {
font-size: 18px;
font-weight: 600;
margin: 12px 16px 8px;
color: #333;
}

.link-price {
font-size: 14px;
margin: 0 16px 16px;
color: #666;
}

.link-price .new {
color: #000000;
font-weight: 500;
}




.footer {
    background-color: #46A35833;
    color: #000;
    padding: 20px 50px;
    font-family: sans-serif;
}

.footer-container {
    display: flex;
    align-items: center;     
    gap: 30px;                 
}


.footer a, .footer p, .footer-address {
    margin: 0;               
}













.footer1 {
    background-color: #ffffff; 
    color: #000000;
    padding: 40px 50px;
    font-family: sans-serif;
}

.footer1-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    gap: 30px;      
}
.footer1-box {
    flex: 1;
}

.footer1-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.footer1-item {
    display: flex;
    flex-direction: column; 
    gap: 8px;               
    min-width: 150px;      
}
.footer1-item1{
    display: flex;
    flex-direction: row; 
    gap: 8px;               
    min-width: 150px;
}

.footer1-title, .footer1-title1 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.footer1-text {
    font-size: 14px;
    color: #8e8585;
    margin: 0;
    cursor: pointer;
    transition: color 0.3s;
}

.footer1-text:hover {
    color: #000000;
}

.footer1-item1 i {
    font-size: 20px;
    margin-right: 12px;
    transition: color 0.1s;
    color: #46A35899;
}

.footer1-item1 i:hover {
    color: #4CAF50;
}

@media (max-width: 768px) {
    .footer1-list {
        flex-direction: column;
    }
}

